@import "tailwindcss";
@media print {
  /* Force the receipt to be visible and remove browser headers/footers */
  @page {
    margin: 0;
    size: auto;
  }

  body * {
    visibility: hidden; /* Hide everything else */
  }

  #receipt-print-area, #receipt-print-area * {
    visibility: visible; /* Only show the receipt */
  }

  #receipt-print-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    overflow: visible !important;
    display: block !important;
  }
}